<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @deck.name %>
</p>

<p>
  <b>Description:</b>
  <%= @deck.description %>
</p>


<ul>
  <% @deck.cards.each do |card| %>
    <li>
      Card Name: <b><%= card.name %></b><br/>
      Card Strength: <b><%= card.strength %></b> 
    </li>
    <% end %>
</ul>



<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
